.cards-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.cards {
  min-height: 60vh;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
@media (max-width: 1300px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 900px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
.error-screen {
  min-height: 70vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.error-image{
  max-width: 400px;
  height: auto;
  object-fit: cover;
}
