.header {
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.6rem;
}
.logo {
  height: 4rem;
  width: auto;
  object-fit: contain;
}
@media (max-width:450px)
{
  .logo{
    height: 3rem;
  }
 

}
